// --------------------------------------
// mixin
// --------------------------------------

// clear
// ---------------------------
@mixin cf {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}


// mediaQuery
// ---------------------------
$mqPc: 1180px;
$mqTab: 980px;
$mqSp: 768px;
@mixin mq($device) {
    @if $device == sp {
        @media only screen and (max-width: $mqSp) {
            @content;
        }
    } @else if $device == tab {
        @media only screen and (max-width: $mqTab) {
            @content;
        }
    } @else if $device == pc {
        @media only screen and (max-width: $mqPc) {
            @content;
        }
    } @else {
        @media screen and (max-width: $device){
            @content;
      }
  }
}
@include mq(tab){
    

}

@include mq(sp){
    body{
        background-size: auto;
    }
    .nav{
        
        h1{
            color: #fff;
            font-size: 25px;
            padding: 20px 20px;
            letter-spacing: 3px;
            max-width: 300px;
            margin: 0;
            position: relative;
        }
        .humburger{
            position: relative;
            display: block;
            width: 40px;
            margin: 10px 15px 0 auto;
            height: 30px;
            span{
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #fff;
                transform: translateY(-50%);            
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #fff;
            height: 1px;                          
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70%;
            height: 1px;
            background-color: #fff;
        }
        }
        .toggle {
            transform: translateY( 0 );
            opacity: 1;
        }
        .close{
            text-align: center;
            color: #fff;
        }  
        }
        .sp-nav{
            z-index: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: block;
            width: 100%;
            background: rgba(0, 0, 0, .8);
            opacity: 0;
            transform: translateY(-100%);
            transition: all .2s ease-in-out;
        }
        ul{
            padding: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .fade-in-right {
                opacity: unset;
                animation: none;
            }       
            li{
                margin: 0 auto;
                a{
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    padding: 20px 0;
                }
        }
    }
    
    }
    .title{
        .title-text{
            font-size: 30px;
        }
        .btn{
            max-width: 300px;
            p{
                a{
                max-width: 300px;
                padding: 20px 70px;
            }
            
            }
        }
    }
    
